In [492]:
import psycopg2
import pandas as pd
import numpy as np

from nltk.tokenize import LineTokenizer

In [493]:
db = psycopg2.connect(host='49.50.167.136', dbname='synthea_1000',user='walker102',password='forcebewithyou',port=5432)
cursor  = db.cursor()
cursor.execute("select * from clinical_note")
rows = cursor.fetchall()

In [164]:
from nltk import sent_tokenize,word_tokenize

import nltk

In [494]:
def id(size):
    alist = []
    for i in range(size):                
        a = np.random.randint(100000)
        while a in alist:
            a = np.random.randint(100000)
        alist.append(a)
    return alist
## id 랜덤 추출 함수

In [495]:
sentence = []
line = LineTokenizer()

for i in rows:
    sentence.append(line.tokenize(i[0]))

id_lists = id(len(sentence))

In [496]:
sentence_df = pd.DataFrame(sentence)

In [583]:
person_df=sentence_df.iloc[:,2:8].apply(lambda x : x.str.split(":"))
person_df.columns = person_df.iloc[0,:].apply(lambda x : x[0])

personlist = []
for i in range(len(person_df)):
        personlist.append(person_df.iloc[0,:].apply(lambda x : x[1]))
person_df=pd.DataFrame(personlist)
person_df['id'] = id_lists

person_df.reset_index(inplace=True)

AttributeError: 'Series' object has no attribute 'to_datetime'

In [584]:
person_df

,Race,Ethnicity,Gender,Age,Birth Date,Marital Status,id
0,White,Non-Hispanic,M,55,1965-04-22,M,16808
0,White,Non-Hispanic,M,55,1965-04-22,M,20351
0,White,Non-Hispanic,M,55,1965-04-22,M,66538
0,White,Non-Hispanic,M,55,1965-04-22,M,26792
0,White,Non-Hispanic,M,55,1965-04-22,M,83536
0,White,Non-Hispanic,M,55,1965-04-22,M,43864
0,White,Non-Hispanic,M,55,1965-04-22,M,55683
0,White,Non-Hispanic,M,55,1965-04-22,M,63030
0,White,Non-Hispanic,M,55,1965-04-22,M,58487
0,White,Non-Hispanic,M,55,1965-04-22,M,10839
0,White,Non-Hispanic,M,55,1965-04-22,M,69298
0,White,Non-Hispanic,M,55,1965-04-22,M,34577
0,White,Non-Hispanic,M,55,1965-04-22,M,18152
0,White,Non-Hispanic,M,55,1965-04-22,M,52028
0,White,Non-Hispanic,M,55,1965-04-22,M,70073
0,White,Non-Hispanic,M,55,1965-04-22,M,88690
0,White,Non-Hispanic,M,55,1965-04-22,M,2389
0,White,Non-Hispanic,M,55,1965-04-22,M,79868
0,White,Non-Hispanic,M,55,1965-04-22,M,89807
0,White,Non-Hispanic,M,55,1965-04-22,M,46819
0,White,Non-Hispanic,M,55,1965-04-22,M,6445
0,White,Non-Hispanic,M,55,1965-04-22,M,47364
0,White,Non-Hispanic,M,55,1965-04-22,M,29623

In [582]:
person_df['Birth Date'].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

### Table 생성

In [87]:
db = psycopg2.connect(host='49.50.167.136', dbname='synthea_1000',user='walker102',password='forcebewithyou',port=5432)
cursor  = db.cursor()
cursor.execute("CREATE TABLE walker102.person (person_id bigint, year_of_birth integer, month_of_birth integer, day_of_birth integer, death_date timestamp, gender_value varchar(50), race_value varchar(50), ethnicity_value varchar(50));") 
cursor.execute("CREATE TABLE walker102.visit_occurrence (visit_occurrence_id bigint, person_id bigint, visit_start_date date, care_site_nm text, visit_type_value varchar(50));")
cursor.execute("CREATE TABLE walker102.drug_exposure (drug_exposure_id bigint, person_id bigint, drug_exposure_start_date date, drug_value text, route_value varchar(50), dose_value varchar(50), unit_value varchar(50), visit_occurrence_id bigint)")
cursor.execute("CREATE TABLE walker102.condition_occurrence (condition_occurrence_id bigint, person_id bigint, condition_start_date date, condition_value text, visit_occurrence_id bigint)")

In [499]:
cols = "`,`".join([str(i) for i in person_df.columns.tolist()])

In [504]:
cursor.execute("INSERT INTO person (cols) VALUES (%s,%s,%s,%s,%s,%s,%s,%s);" % )

SyntaxError: syntax error at end of input
LINE 1: INSERT INTO person (cols)
                                 ^

- cursor.execute("INSERT INTO test (person_id,year_of_birth,month_of_birth,day_of_birth,death_date,gender_value,race_value,ethnicity_value) VALUES (1,1,1,1,'2020-03-04 00:00:00','1','1','1');")

In [82]:
db.commit()

In [76]:
cursor.execute("select * from test")

In [77]:
test = cursor.fetchall()

In [78]:
test

[(1, 1, 1, 1, datetime.datetime(2020, 3, 4, 0, 0), '1', '1', '1')]